

 .column{
    width: calc(50% - 30px);
}
.left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.left p{
    text-align: justify;
}
.left a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
    margin-bottom: 40px;
}
.left a:hover{
    color: crimson;
    background: none;
}
.right .bars{
    margin-bottom: 15px;
}
.right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.right span{
    font-weight: 500;
    font-size: 18px;
}
.right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: crimson;
}
.right .html::before{
    width: 65%;
}
.right .css::before{
    width: 45%;
}
.right .js::before{
    width: 60%;
}
.right .java::before{
    width: 40%;
}
.right .photoshop::before{
    width: 60%;
}

.right .c::before{
    width: 40%;
}