
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
}

.sidebar{
  background-color: rgb(189, 186, 186);
 
  font-family: 'Josefin Sans', sans-serif;
  transition: transform 0.3s ease-in;
 
  }

 

.sidebar nav{
    padding: 27px;
}

.sidebar nav li{

    list-style: none;
    font-size: 18px;
    padding: 30px 0;
    font-family: 'Titan One', cursive;
    

}

.sidebar nav li a{
    text-decoration: none;
    color: black;
}
.main{
width: 85vw;
padding: 10px;
    
}
.container{
    display: flex;
    background: #343F4F;
}
.infocontainer{
   
    height: 58vh;
    width: 80vw;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
}
.devinfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Titan One', cursive;
    margin: 0px auto;
    margin-top: -108px;
    margin-left: 179px;
}
.wel{

    font-size: 90px;
    display: flex;
    justify-content: center;
    margin-top: 31px;
    margin-left: 38px;
    margin-bottom: 31px;
    color: white;
    background: #343F4F;
    font-family: 'Titan One', cursive;

}
.hello{
    font-size: 70px;
}

.name{
    font-size: 50px;
}

.about{
    font-size: 30px;
    color: rgb(231, 110, 130);
}

.devpic img{

    width: 105px;
    height: 18vh;
    margin-top: 184px;
    margin-right: 0px;
}


.wrapper{
    display: flex;
  }
  .wrapper .static-txt{
    color: black;
    font-size: 60px;
    font-weight: 400;
    margin: 10px;
  }
  .wrapper .dynamic-txts{
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
    margin-top: 5px;
    font-family: 'Poppins', sans-serif;
  }
  .dynamic-txts li{
    list-style: none;
    color: #FC6D6D;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
  }
  @keyframes slide {
    100%{
      top: -360px;
    }
  }
  .dynamic-txts li span{
    position: relative;
    margin: 5px 0;
    line-height: 80px;
  }
  .dynamic-txts li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #343F4F;
    border-left: 2px solid #FC6D6D;
    animation: typing 3s steps(13) infinite;
  }

  .hamburger{
position: absolute;
cursor: pointer;
top: 10px;
left: 10px;


}


   

.sidebarGo{
   
        transform: translate(-443px, 0px);
        position: absolute;
    }


  @keyframes typing{
    40%, 60%{
      left: calc(100% + 30px);
    }
    100%{
      left: 0;

    }
}


@media(max-width: 837px){

    .devpic img{
        transform: translate(443px, 0px);
        position: absolute;
    }
}

@media(max-width: 483px){

    .wel{

        font-size: 40px;
        
    
    }
    .hello{
        font-size: 30px;
        text-align: center;
        position: relative;
    }
    
    .name{
        font-size: 20px;
        text-align: center;
        position: relative;
    }
    
   
    .static-txt{
        transform: translate(-443px, 0px);
   
}
}

@media(max-width: 444px){

    .dynamic-txts{
        transform: translate(443px, 0px);

        
    }

    .hello{
      text-align: left;
      padding-left: 40px;
  }
  
  .name{
    text-align: left;
    padding-left: 40px;
  }
  
}